In [11]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
#Add a field to show the department of the course
sql ='''
    ALTER TABLE student ADD COLUMN CHAR(20);
'''
cursor.execute(sql)
print("Table altered successfully........")
conn.commit()
conn.close()

Table altered successfully........

In [12]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
#Add a field to show the department of the course
sql ='''
    ALTER TABLE student RENAME COLUMN id TO id_student;
'''
cursor.execute(sql)
print("Table altered successfully........")
conn.commit()
conn.close()

Table altered successfully........

In [26]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
#Add a field to show the department of the course
sql ='''
    INSERT INTO course VALUES(100, 'Database Design Lab', 'Computer Engineering',
    'Tuesday 16.30', 10 );
    UPDATE course SET time_class='Tuesday 16:30' where code=100;
    SELECT * FROM course;
'''
cursor.execute(sql)
print(cursor.fetchall())
print("successful")
conn.commit()
conn.close()

[(100, 'Database Design Lab ', 'Computer Engineering', 'Tuesday 16:30                                     ', 10)]
successful

In [28]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
#Add a field to show the department of the course
sql ='''
    CREATE VIEW course_view AS SELECT name, time_class, code_teacher FROM course;
'''
cursor.execute(sql)
print("created view!")
conn.commit()
conn.close()

created view!

In [32]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()
#Add a field to show the department of the course
sql ='''
    select * from course_view;
'''
cursor.execute(sql)
print(cursor.fetchall())
conn.commit()
conn.close()

[('Database Design Lab ', 'Tuesday 16:30                                     ', 10)]